build/
build_*/
out/
local_deps/
.vs/
.vscode/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
*.obj
!samples/**/*.obj
!assets/**/*.obj
*.o
*.ilk
*.pdb
*.log
*.tmp
tmp_debug_shots/
*.user
imgui.ini
*.exe
!tools/*.exe
